<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand " routerLink="">Iset Rades</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link " routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]='{exact:true}' >Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="cours" routerLinkActive="active-link"  >Cours
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="clubs" routerLinkActive="active-link" >Clubs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="about" routerLinkActive="active-link" >About
            </a>
          </li>

          

          

          <li *ngIf="!this.share.userConnected" class="nav-item ">
            <a class="nav-link " routerLink="login" routerLinkActive="active-link" >Connect
            </a>
          </li>

          <li *ngIf="this.share.userConnected"  class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hi, {{this.share.User.username}}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item btn" >Profile</a>
              <a class="dropdown-item btn">Another action</a>
              <a class="dropdown-item btn" >Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item btn" (click)="this.share.desc()">Deconnect</a>
            </div>
          </li>


          <!-- <li class="nav-item">
            <a class="nav-link " href="#">Exercice 1
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link active" href="#">Exercice 2</a>
            <span class="visually-hidden">(current)</span>
  
          </li> -->
          
          
          </ul>
      </div>
    </div>
  </nav>