<div class="entry-content m-5">
  <div class="bt_bb_wrapper">
    <h2>Présentation de l'ISET de Rades</h2>
    <p align="justify">
      Dans un environnement caractérisé par la généralisation de la formation
      professionnalisante à l'ensemble de l'université tunisienne, l'Institut
      Supérieur des Etudes Technologiques de Rades (ISET de Rades) se trouve
      dans l'obligation de différencier, de diversifier et de valoriser son
      offre de formation et à même de consacrer l'école en tant qu'institution
      phare de l'enseignement supérieur technologique en Tunisie. Le lancement
      de cet institut vient donc à point nommé pour favoriser une formation
      active, orientée et signifiante pour répondre aux mieux aux besoins réels
      du milieu industriel. C'est une réflexion collégiale   sur les
      orientations stratégiques avancées afin de pérenniser le développement de
      l'école et d'élargir son rayonnement sur son environnement régional,
      national et voire même international.
    </p>
    <p align="justify">
      A ce titre, la mise en œuvre de la formation dans notre institution étant
      le fruit d'une démarche participative ayant impliqué divers acteurs ;
      constitue-t-il une déclaration d'intentions visant à sensibiliser les
      acteurs internes, enseignants agrées et personnel administratif engagé et
      expérimenté en particulier, les responsables des fédérations de l'UTICA
      représentant du monde socio-économique et les apprenants en premier lieu,
      quant à la nécessité d'un repositionnement de l'offre de notre institution
      en réponse au changement du paysage universitaire tunisien.
    </p>
    <p align="justify">
      Fort d'une riche expérience, des enseignants qui assurent la formation
      actuelle, dans le développement d'une offre de formation
      professionnalisante, notre institut trouve dans la confiance placée en lui
      par les professionnels un atout majeur pour consolider un partenariat plus
      actif qui permettrait à terme de favoriser la mise en place de conventions
      de collaborations et de transfert de technologie. Outre sa mission
      principale de formation initiale de futurs cadres de niveau Licence
      Appliquée et Master Professionnel dans les domaines technologiques du
      Génie Mécanique, Génie Electrique, Génie Civil, des Technologies de
      l'Informatique et des Sciences Economiques et de Gestion, l'ISET de Radès
      dispose d'un Service de Formation Continue. Notre institut est habilité à
      concevoir et mettre en œuvre des programmes de formation continue et/ou de
      concours de recrutement ou de promotion. Depuis 2015, il bénéficie de
      l'agrément en tant que centre de formation au programme CAME (Chèque
      d'Amélioration de l'Employabilité). En effet, nous avons et nous sommes
      entrain d'assurer :
    </p>
    <p>
      * Formations certifiantes : L'ISET de Rades offre des formations
      certifiantes en C2i, SISCO, Solid-Works et LabView.
    </p>
    <p align="justify">
      * Formations de longue durée : L'ISET de Rades organise des cycles de
      formation pour la qualification des participants au passage de grade,
      compte tenu des besoins et des spécificités des établissements employeurs
      (ATFP, OACA, Ministère de l'équipement, Imprimerie Officielle de la
      République Tunisienne, …)
    </p>
    <h6>
      * Organisation de concours : L'ISET de Radès est habilité à organiser des
      concours pour le compte d'institutions publiques et privées (recrutement,
      préparation au passage de grade, …).
    </h6>
    <h6>
      * Inter-Intra : Nos enseignants formateurs peuvent intervenir également en
      intra, pour animer des formations sur mesure, qui répondent aux besoins
      spécifiques de nos partenaires.
    </h6>
    <p align="justify">
      La maturation progressive de notre institution associée à l'expérience et
      la compétence de ses enseignants permettant d'assurer une formation
      rigoureuse, l'importance des moyens et ressources technologiques d'une
      institution en pleine mutation qualitative et l'éventualité de création de
      pôles de compétences à travers une vague de certification des enseignants
      permanents et des étudiants. Par ailleurs, notre stratégie s'articule sur
      le processus de certification de notre école en mettant en œuvre l'SMQ aux
      termes de l'ISO 9001 en vue de l'accréditation de notre institut prévue à
      la lumière de l'année universitaire 2021/2022. En l'occurrence, nos
      étudiants en particulier bénéficient d'un panier de certification (<a
        href="https://vpnssl.cck.rnu.tn:4343/proxy/4316810f/http/int.search.myway.com/search/GGmain.jhtml?st=tab&amp;ptb=8D9AD0B4-F83B-4E77-B94E-A99FCFFA7F63&amp;n=781c5257&amp;ind=2015122007&amp;ct=SS&amp;pg=GGmain&amp;p2=%5EY6%5Exdm007%5ETTAB02%5Etn&amp;si=CJeM5LSP68kCFQsKwwodlLsNug&amp;tpr=sc&amp;searchfor=TOEIC&amp;ots=1471950751845"
        >TOEIC</a
      >
      , CISCO, C2i, Solid Works,  LabView …) leurs permettant une intégration
      meilleure dans le secteur professionnel. En outre, nous sommes bien
      équipés pour répondre d'une manière satisfaisante aux exigences de la
      formation pratique (travaux pratiques) dans les différents parcours déjà
      habilités (voir tableau ci-après). Les éléments sus indiqués constituent
      des signes prometteurs en vue d'une revalorisation du statut de notre
      institut pour une réponse plus pointue aux besoins des professionnels
      aussi bien en cadres moyens (licence appliquées) qu'en cadres supérieurs
      (masters professionnels et masters co-construits).
    </p>
    <p align="justify">
      Il va sans dire que la réussite de notre stratégie, déclinée en plans
      opérationnels concrets sur les divers axes promoteurs (formation axée sur
      la pratique, accréditation de l'institution et certification des
      enseignants, personnel administratif et, bien entendu, étudiants), demeure
      tributaire de l'engagement de tous (ce qui est le cas dans notre
      institution) : Direction, enseignants, Personnel administratif, étudiants,
      autorité de tutelle et corporations professionnelles partenaires.
      Co-construction des référentiels de formation, Qualité et Certification
      seront les maîtres mots autour desquels on a installé une communication
      forte valorisant l'effort consenti pour réussir cette mission. Un comité
      qualité et un conseil scientifique édifiés, s'efforceront sans doute pour
      assurer l'appui et le suivi nécessaire pour l'atteinte des objectifs
      annoncés et l'évaluation des résultats intermédiaires.
    </p>
    <h2>Création:</h2>
    <p align="justify">
      Créé par la loi 51-92 du 18 mai 1992; l'ISET Radès est un institut
      universitaire tunisien rattaché à l'université. L'enseignement y est
      assuré en grande partie par des enseignants du corps des
      technologues.Placé sous la tutelle du ministère de l'Enseignement
      supérieur et de la Recherche scientifique et géré par la direction
      générale ; propose une formation initiale diplômante, des formations
      continues en lien avec les besoins des entreprises, un centre de
      ressources technologiques, un pôles de compétence et une pépinières
      d'entreprises.
    </p>
    <h2>Mission:</h2>
    <p align="justify">
      ISET Radès est habilité à établir des relations de partenariat avec le
      milieu économique pour assurer la formation de cadres (bac +3 et bac+5 )
      répondant aux besoins des entreprises. l &rsquo;ISET de Radès délivre à
      ses étudiants un diplôme de licence appliquée dans les domaines de la
      technologie et de la gestion. et aussi le diplôme de mastère professionnel
      dans plusieurs disciplines.
    </p>
    <p>
      <strong
        >Tableau récapitulatif des domaines de formation à notre
        institut:</strong
      >
    </p>
    <table width="659" border="1">
      <tbody>
        <tr>
          <td width="234">
            <strong>Nature de licence ou de Mastère</strong>
          </td>
          <td width="297">
            <strong>Intitulé de parcours</strong>
          </td>
          <td width="128">
            <strong>Niveau d'études</strong>
          </td>
        </tr>
        <tr>
          <td rowspan="4" width="234">
            <strong>Licence Appliquée en Administration des Affaires</strong>
          </td>
          <td width="297">Gestion Comptable et Financière</td>
          <td rowspan="6" width="128">BAC + 3</td>
        </tr>
        <tr>
          <td width="297">Management du Commerce International</td>
        </tr>
        <tr>
          <td width="297">Logistique et Transport international</td>
        </tr>
        <tr>
          <td width="297">Gestion de la production</td>
        </tr>
        <tr>
          <td rowspan="2" width="234">
            <strong>Licence Appliquée en Marketing</strong>
          </td>
          <td width="297">Techniques de Vente</td>
        </tr>
        <tr>
          <td width="297">Communication Publicitaire</td>
        </tr>
        <tr>
          <td rowspan="4" width="234">
            <strong>Licence en Génie Electrique</strong>
          </td>
          <td width="297">Sécurité et Contrôle Industriel</td>
          <td rowspan="4" width="128">BAC + 3</td>
        </tr>
        <tr>
          <td width="297">Automatisme et Informatique Industrielle</td>
        </tr>
        <tr>
          <td width="297">Maintenance des Systèmes Electriques</td>
        </tr>
        <tr>
          <td width="297">Electricité Industrielle</td>
        </tr>
        <tr>
          <td rowspan="6" width="234">
            <strong>Licence en Génie Mécanique</strong>
          </td>
          <td width="297">Energétique</td>
          <td rowspan="6" width="128">BAC + 3</td>
        </tr>
        <tr>
          <td width="297">Construction et Fabrication Mécanique</td>
        </tr>
        <tr>
          <td width="297">Maintenance Industrielle</td>
        </tr>
        <tr>
          <td width="297">Plasturgie</td>
        </tr>
        <tr>
          <td width="297">Mécatronique</td>
        </tr>
        <tr>
          <td width="297">Construction Métallique</td>
        </tr>
        <tr>
          <td rowspan="3" width="234">
            <strong>Licence en Génie Civil</strong>
          </td>
          <td width="297">Travaux Publics</td>
          <td rowspan="3" width="128">BAC + 3</td>
        </tr>
        <tr>
          <td width="297">Bâtiment</td>
        </tr>
        <tr>
          <td width="297">Pilotage des chantiers</td>
        </tr>
        <tr>
          <td rowspan="4" width="234">
            <strong>Licence en Technologies de l'Informatique</strong>
          </td>
          <td width="297">Multimédia et développement web</td>
          <td rowspan="4" width="128">BAC + 3</td>
        </tr>
        <tr>
          <td width="297">Réseaux et services informatiques</td>
        </tr>
        <tr>
          <td width="297">Maintenance des systèmes informatiques</td>
        </tr>
        <tr>
          <td width="297">Développement des systèmes d &rsquo;information</td>
        </tr>
        <tr>
          <td rowspan="4" width="234">Mastères Professionnels</td>
          <td width="297"></td>
          <td rowspan="6" width="128">BAC + 5</td>
        </tr>
        <tr>
          <td width="297">Mécatronique</td>
        </tr>
        <tr>
          <td width="297">Développement des Applications Mobiles</td>
        </tr>
        <tr>
          <td width="297">Business Intelligence</td>
        </tr>
        <tr>
          <td rowspan="2" width="234">
            Mastère Co-construit
            <p>(Commerce et Distribution)</p>
          </td>

          <td width="297">Commerce</td>
        </tr>
        <tr>
          <td width="297">logistique</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
