<div class="container m-5">
    <h3 > Site en ligne :</h3>

<ul>
    <li> <a href="https://www.w3schools.com" target="_blank" style="text-decoration: none;">w3school</a>  </li>
    <li> <a href="https://www.linuxtricks.fr/pages/bienvenue-sur-linuxtricks"  target="_blank" style="text-decoration: none;">Linux envirement</a>  </li>
    <li> <a href="https://classroom.google.com"  target="_blank" style="text-decoration: none;">Google classroom</a>  </li>

</ul>


<h3 > Nos cours :</h3>

<ul>
    <li> <a href="https://iset.uvt.tn/course/index.php?categoryid=258" style="text-decoration: none;">UVT</a>  </li>

</ul>

</div>

