
<div class="container m-5 row justify-content-center" >

<a href="https://www.facebook.com/DrissMoktharBactechnique" target="_blank" style="width :fit-content;padding :0px;margin: 10px;">
    <div class="card text-white bg-primary p-3" style="max-width: 20rem;">
    <!-- <div class="card-header">New Generation</div> -->
    <img src="../../../assets/clubs/NG.svg" style="height: 250px;" alt="New Generation">

    <div class="card-body">
      <h4 class="card-title">New Generation</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</a>

<a href="https://www.facebook.com/profile.php?id=100093956004523" target="_blank" style="width :fit-content;padding :0px;margin: 10px;">
  <div class="card text-white bg-primary p-3" style="max-width: 20rem;">
    <img src="../../../assets/clubs/enactus.svg"  style="height: 250px;" alt="Enactus">

    <div class="card-body">
      <h4 class="card-title">Enactus</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</a>

<a href="https://www.facebook.com/TunsaISETRades" target="_blank" style="width :fit-content;padding :0px;margin: 10px;">
  <div class="card text-white bg-primary p-3" style="max-width: 20rem;">
    <img src="../../../assets/clubs/Tunsa.svg"  style="height: 250px;" alt="Tunsa">

    <div class="card-body">
      <h4 class="card-title">Tunsa</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</a>


<a href="https://www.facebook.com/IEEE.ISET.RADES" target="_blank" style="width :fit-content;padding :0px;margin: 10px;">
        <div class="card text-white bg-primary p-3" style="max-width: 20rem;">
    <img src="../../../assets/clubs/IEEE.png"  style="height: 250px;" alt="IEEE">

    <div class="card-body">
      <h4 class="card-title">IEEE</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div></a>

  

  

</div>